USE [ARAPL_Analysis_V13]
GO
/****** Object:  StoredProcedure [dbo].[arapl_RunILSAnalysis_SR]    Script Date: 9/17/2026 1:37:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
---- =============================================
---- FIX HISTORY:
----   1) Company Loss Minimum/Maximum fallback (@EffectiveLossMinimum/@EffectiveLossMaximum).
----   2) CATBOND unlimited-occurrence-limit cap (proposed, unvalidated).
----   3) RPP @RPPROL lookup corrected to read LayerPremium from the container row.
----   4) PRORATA Nth-event offset corrected to use @AggregateLimit instead of
----      @OccurrenceLimit (that branch hardcodes OccurrenceLimit to the unlimited
----      placeholder, so the original line produced an unreachable retention whenever
----      StartingEventNumber >= 2).
----   THIS VERSION: the CATXOL/RPP/CATBOND branch's equivalent line has been reverted
----   back to * @OccurrenceLimit (its original, correct form) after being accidentally
----   changed in an earlier edit - that branch has a real, finite OccurrenceLimit, so
----   using it there was never wrong.
---- =============================================
ALTER PROCEDURE [dbo].[arapl_RunILSAnalysis_SR]
@ActivityID INT,
@DEBUG INT = 0
AS
BEGIN
 
    DECLARE @DEFAULTLIMIT FLOAT = 1e15
    DECLARE @DEFAULTRETENTION FLOAT = 0
 
	SET NOCOUNT ON;
    DROP TABLE IF EXISTS #tmpLossSets
    DECLARE @ILSInstrumentID INT
    DECLARE @ILSType NVARCHAR(100)
    DECLARE @ILSTermsID INT
    DECLARE @OutputTableName NVARCHAR(510)
    DECLARE @tmpOutputTableName NVARCHAR(510)
    DECLARE @ChildILSTermsID INT
    DECLARE @OutputUNLTableName NVARCHAR(510)
    DECLARE @ILSPricingSummaryTableName NVARCHAR(510)
 
    DECLARE @LSID INT
    DECLARE @LSMAXID INT
    DECLARE @LSLossSetID INT
    DECLARE @LSActivityID INT
    DECLARE @LSLMF FLOAT
    DECLARE @query NVARCHAR(MAX)
    DECLARE @LSYELTTable NVARCHAR(255)
    DECLARE @PrincipalAmount FLOAT
 
    DECLARE @Vendor NVARCHAR(255)
    DECLARE @Template nvarchar (255) = 'World All Perils (10K Warm SST Hurr, Time Dep Hybrid)'
    DECLARE @Perspective nvarchar (255) = 'Net Loss'
	DECLARE @AddExpenses int = 0
 
    DECLARE
    @IndustryLossMinimum FLOAT,
    @IndustryLossMaximum FLOAT,
    @CurrencyCode NVARCHAR(10),
    @CompanyLossMinimum FLOAT,
    @CompanyLossMaximum FLOAT,
    @ExchangeRate FLOAT,
    @OccurrenceLimit FLOAT,
    @OccurrenceRetention FLOAT,
    @AggregateLimit FLOAT,
    @AggregateRetention FLOAT,
    @DeductibleType INT,
    @isFranchiseDeductible INT,
    @isReverseFranchiseDeductible INT,
    @isInnerAggregateDeductible INT,
    @isOuterAggregateDeductible INT,
    @isAllRegions INT,
    @isAllPerils INT,
    @ReinsuranceTypeCode NVARCHAR(20),
    @Premium FLOAT,
    @ROL FLOAT,
    @ReinstatementPremium NVARCHAR(100),
    @RPPROL FLOAT,
    @EventNumber INT,
    @AggregateDeductible FLOAT,
    @InceptionDate DATE,
    @ExpirationDate DATE,
    @InceptionDay INT,
    @ExpirationDay INT,
    @ParticipationNet FLOAT,
    @isRPP INT,
    @isSeasonal INT,
    @isAIRView BIT,
    @isApplyEventSeverity BIT
    
 
    DECLARE @IsRMSView BIT
    DECLARE @InuringSequenceNumber INT
 
    DECLARE @TermsID INT = 1
    DECLARE @TermsMAXID INT
    DECLARE @ParentILSTermsID INT
    DECLARE @ParentRelationship INT
    DECLARE @CoinsuranceAmount FLOAT
    DECLARE @QS_Cession FLOAT
 
    DECLARE @ReinstID INT = 1
    DECLARE @ReinstMAXID INT
    DECLARE @ReinstRate FLOAT
    DECLARE @AggReinsPrem FLOAT
 
    DECLARE @TODAY DATE
    DECLARE @rs FLOAT
    DECLARE @rrp FLOAT
 
    DROP TABLE IF EXISTS #tmpTerms
    DROP TABLE IF EXISTS #tmpAggYLT
    DROP TABLE IF EXISTS #tmpGRYELT
    DROP TABLE IF EXISTS #tmpGUYELT
    DROP TABLE IF EXISTS #tmpLossSets
    DROP TABLE IF EXISTS #tmpOccYELT
    DROP TABLE IF EXISTS #tmpDeductibleType
    DROP TABLE IF EXISTS #tmpDedYELT
    DROP TABLE IF EXISTS #tmpDedAgg
    DROP TABLE IF EXISTS #tmpLossAdjustmentFactors
    DROP TABLE IF EXISTS #tmpNetYELT
    DROP TABLE IF EXISTS #tmpUnderLyingLayers
    DROP TABLE IF EXISTS #ReinstatementTerms
    DROP TABLE IF EXISTS #tmpReinstatements
    DROP TABLE IF EXISTS #tmpReinstAggYLT
    DROP TABLE IF EXISTS #tmpNETNMYLT
    DROP TABLE IF EXISTS #tmpNetYLT
    DROP TABLE IF EXISTS #tmpNetYLTwNM
    DROP TABLE IF EXISTS #tmpNMYELT
    DROP TABLE IF EXISTS #tmpNMYLT
    DROP TABLE IF EXISTS #tmpReinstatements
    DROP TABLE IF EXISTS #tmpGRYELT_PostDed
    CREATE TABLE #tmpGUYELT(
    EventID BIGINT,
    YearID INT,
    Day INT,
    Loss FLOAT
    )
    CREATE TABLE #tmpGRYELT(
    EventID BIGINT,
    YearID INT,
    Day INT,
    Loss FLOAT
    )
    CREATE TABLE #tmpOccYELT(
    EventID BIGINT,
    YearID INT,
    Day INT,
    Loss FLOAT
    )
    CREATE TABLE #tmpAggYLT(
    YearID INT,
    AnnualLoss FLOAT,
    NetLoss FLOAT
    )
    CREATE TABLE #tmpNetYELT (
        EventID BIGINT,
        Year INT,
        Day INT,
        Loss FLOAT,
        Loss_xRIP FLOAT
    )
    CREATE TABLE #tmpNMYELT(
        EventID BIGINT,
        Year INT,
        Day INT,
        Loss FLOAT
    )
    CREATE TABLE #tmpNMYLT(
        Year INT,
        AnnualLoss FLOAT
    )
    CREATE TABLE #tmpNetYLT(
        Year INT,
        AnnualLoss FLOAT
    )
    CREATE TABLE #tmpNETNMYLT(
        Year INT,
        AnnualLoss FLOAT,
        NetLoss FLOAT,
        NetNMLoss FLOAT
    )
    CREATE TABLE #tmpNetYLTwNM(
    Year INT,
    AggLoss FLOAT,
    NetLoss FLOAT
    )
 
    CREATE TABLE #tmpReinstAggYLT
    (
        YearID INT
        ,NetNetLoss FLOAT
        ,tmpNetLoss FLOAT
        ,ReinstatementPremium FLOAT
    )
 
    CREATE TABLE #tmpLossAdjustmentFactors(
        ID INT IDENTITY(1, 1),
        Peril NVARCHAR(10),
        Region NVARCHAR(10),
        ModelCode INT,
        SeverityLevel FLOAT,
        TotalLMF FLOAT
    )
 
    CREATE table #tmpLossSets(
    ID INT IDENTITY(1,1),
    LossSetID INT,
    LSActivityID INT,
    LMF FLOAT
    )
 
    CREATE TABLE #tmpUnderLyingLayers(
        ID INT IDENTITY(1,1),
        ILSTermsID INT,
        ChildILSTermsID INT
    )
 
    CREATE TABLE #tmpDeductibleType(
        ID INT,
        isApply INT
    )
    CREATE TABLE #tmpDedYELT(
        EventID BIGINT,
        YearID INT,
        Day INT,
        Loss FLOAT
    )
    CREATE TABLE #tmpGRYELT_PostDed(
    EventID BIGINT,
    YearID INT,
    Day INT,
    Loss FLOAT
    )
    CREATE TABLE #tmpDedAgg(
        YearID INT,
        NetLoss FLOAT,
        AnnualLoss FLOAT
    )
    create table #tmpReinstatements(
    ID INT IDENTITY(1,1),
    [Count] INT,ROL float
    )
 
    CREATE TABLE #ReinstatementTerms
    (
        ID INT IDENTITY(1,1)
        ,Rate FLOAT
    )
 
    IF @DEBUG = 1
    BEGIN
        IF OBJECT_ID('dbo.Debug_LossAdjustmentFactors') IS NOT NULL DROP TABLE dbo.Debug_LossAdjustmentFactors
        CREATE TABLE dbo.Debug_LossAdjustmentFactors(ActivityID INT, Peril NVARCHAR(10), Region NVARCHAR(10), ModelCode INT, SeverityLevel FLOAT, TotalLMF FLOAT)
 
        IF OBJECT_ID('dbo.Debug_GUYELT') IS NOT NULL DROP TABLE dbo.Debug_GUYELT
        CREATE TABLE dbo.Debug_GUYELT(ActivityID INT, ILSTermsID INT, EventID BIGINT, YearID INT, Day INT, Loss FLOAT)
 
        IF OBJECT_ID('dbo.Debug_GRYELT') IS NOT NULL DROP TABLE dbo.Debug_GRYELT
        CREATE TABLE dbo.Debug_GRYELT(ActivityID INT, ILSTermsID INT, EventID BIGINT, YearID INT, Day INT, Loss FLOAT)
 
        IF OBJECT_ID('dbo.Debug_GRYELT_PostDed') IS NOT NULL DROP TABLE dbo.Debug_GRYELT_PostDed
        CREATE TABLE dbo.Debug_GRYELT_PostDed(ActivityID INT, ILSTermsID INT, EventID BIGINT, YearID INT, Day INT, Loss FLOAT)
 
        IF OBJECT_ID('dbo.Debug_OccYELT') IS NOT NULL DROP TABLE dbo.Debug_OccYELT
        CREATE TABLE dbo.Debug_OccYELT(ActivityID INT, ILSTermsID INT, EventID BIGINT, YearID INT, Day INT, Loss FLOAT)
 
        IF OBJECT_ID('dbo.Debug_AggYLT') IS NOT NULL DROP TABLE dbo.Debug_AggYLT
        CREATE TABLE dbo.Debug_AggYLT(ActivityID INT, ILSTermsID INT, YearID INT, AnnualLoss FLOAT, NetLoss FLOAT)
 
        IF OBJECT_ID('dbo.Debug_ReinstAggYLT') IS NOT NULL DROP TABLE dbo.Debug_ReinstAggYLT
        CREATE TABLE dbo.Debug_ReinstAggYLT(ActivityID INT, ILSTermsID INT, YearID INT, NetNetLoss FLOAT, tmpNetLoss FLOAT, ReinstatementPremium FLOAT)
 
        IF OBJECT_ID('dbo.Debug_NetYELT') IS NOT NULL DROP TABLE dbo.Debug_NetYELT
        CREATE TABLE dbo.Debug_NetYELT(ActivityID INT, ILSTermsID INT, EventID BIGINT, Year INT, Day INT, Loss FLOAT, Loss_xRIP FLOAT)
 
        IF OBJECT_ID('dbo.Debug_tmpGrLoss') IS NOT NULL DROP TABLE dbo.Debug_tmpGrLoss
        CREATE TABLE dbo.Debug_tmpGrLoss(ActivityID INT, ILSTermsID INT, EventID BIGINT, Year INT, Day INT, Loss FLOAT, NetLoss_xRIP FLOAT)
 
        IF OBJECT_ID('dbo.Debug_NMYELT') IS NOT NULL DROP TABLE dbo.Debug_NMYELT
        CREATE TABLE dbo.Debug_NMYELT(ActivityID INT, EventID BIGINT, Year INT, Day INT, Loss FLOAT)
 
        IF OBJECT_ID('dbo.Debug_NETNMYLT') IS NOT NULL DROP TABLE dbo.Debug_NETNMYLT
        CREATE TABLE dbo.Debug_NETNMYLT(ActivityID INT, Year INT, AnnualLoss FLOAT, NetLoss FLOAT, NetNMLoss FLOAT)
 
        IF OBJECT_ID('dbo.Debug_LayerTerms') IS NOT NULL DROP TABLE dbo.Debug_LayerTerms
        CREATE TABLE dbo.Debug_LayerTerms(
            ActivityID INT, ILSTermsID INT, InuringSequenceNumber INT,
            ReinsuranceTypeCode NVARCHAR(20), ILSType NVARCHAR(100),
            ParentILSTermsID INT, ParentRelationType INT,
            OccurrenceLimit FLOAT, OccurrenceRetention FLOAT,
            AggregateLimit FLOAT, AggregateRetention FLOAT, AggregateDeductible FLOAT,
            Premium FLOAT, ROL FLOAT, PrincipalAmount FLOAT, CurrencyCode NVARCHAR(10),
            InceptionDate DATE, ExpirationDate DATE, isSeasonal INT,
            isFranchiseDeductible INT, isReverseFranchiseDeductible INT,
            isInnerAggregateDeductible INT, isOuterAggregateDeductible INT
        )
 
        IF OBJECT_ID('dbo.Debug_LayerSummary') IS NOT NULL DROP TABLE dbo.Debug_LayerSummary
        CREATE TABLE dbo.Debug_LayerSummary(
            ActivityID INT, ILSTermsID INT, InuringSequenceNumber INT,
            ReinsuranceTypeCode NVARCHAR(20), ILSType NVARCHAR(100),
            OccurrenceRetention FLOAT, OccurrenceLimit FLOAT,
            AggregateRetention FLOAT, AggregateLimit FLOAT,
            GU_AAL FLOAT, GR_AAL FLOAT, PostDed_AAL FLOAT, Occ_AAL FLOAT,
            Agg_NetAAL FLOAT, ReinstAgg_NetNetAAL FLOAT, ReinstPrem_AAL FLOAT,
            Net_AAL FLOAT, Net_xRIP_AAL FLOAT, tmpGrLoss_AAL FLOAT
        )
    END
 
    SELECT @ILSInstrumentID = AcctGrpId FROM ARAPL_Configuration_v13.dbo.ILSActivityMonitor WHERE ActivityID = @ActivityID
    IF @DEBUG = 1 SELECT @ActivityID AS ActivityID, @ILSInstrumentID AS ILSInstrumentID
 
       SET @query = 'INSERT INTO #tmpLossAdjustmentFactors(Peril, Region, ModelCode, SeverityLevel, TotalLMF)'
    + ' SELECT distinct b.PerilCode as Peril, c.AIRCountryCode as Region,'
    + ' f.ModelCode as ModelCode,'
    + ' e.SeverityLevel as SeverityLevel,'
    + ' a.TotalAdjustment as TotalLMF'
    + ' FROM ARAPL_Configuration.dbo.ILSLossModificationFactors a'
    + ' inner join ARAPL_IndustryLoss_V13.dbo.PerilTable b'
    + ' on a.PerilID = b.PerilID'
    + ' inner join ARAPL_IndustryLoss_V13.dbo.CountryTable c'
    + ' on a.CountryID = c.CountryID'
    + ' INNER JOIN ARAPL_IndustryLoss_V13.dbo.ModelTable f'
    + ' ON (a.ModelID = 1 OR f.ModelCode = a.ModelID)'
    + ' LEFT JOIN ARAPL_Configuration_V13.dbo.EventSeverityTbl e'
    + ' ON e.ModelCode = f.ModelCode'
    + ' where a.ActivityID = ' + CAST(@ActivityID as NVARCHAR(25))
    IF @DEBUG = 1 PRINT @Query
    EXEC sp_executeSQL @query
 
    IF @DEBUG = 1
    INSERT INTO dbo.Debug_LossAdjustmentFactors(ActivityID, Peril, Region, ModelCode, SeverityLevel, TotalLMF)
    SELECT @ActivityID, Peril, Region, ModelCode, SeverityLevel, TotalLMF FROM #tmpLossAdjustmentFactors
 
    SET @OutputTableName = '[ARAPL_Analysis_v13].[dbo].[Analysis_' + CAST(@ActivityID  as nvarchar(10)) + ']'
    SET @Query = 'IF OBJECT_ID(''' + @OutputTableName + ''', ''U'') IS NOT NULL
            DROP TABLE ' + @OutputTableName + ';
            CREATE TABLE ' + @OutputTableName + '(
            EventID BIGINT,
            Year INT,
            Day INT,
            Loss FLOAT,
            GrossLoss FLOAT,
            NetLoss_xRIP FLOAT
            )'
    IF @DEBUG = 1 PRINT @Query
    EXEC sp_executeSQL @Query
 
    SELECT @ILSType = Security_or_Reinsurance_Type
    FROM ARAPL_Configuration_v13.dbo.ILSData a
    where ILSInstrumentID = @ILSInstrumentID
 
    SET @IsAIRView = CASE @Vendor WHEN 'AIR' THEN 1 ELSE 0 END
    SET @IsRMSView = CASE @Vendor WHEN 'RMS' THEN 1 ELSE 0 END
 
    IF EXISTS(SELECT * FROM ARAPL_Configuration_v13.dbo.ILSTerms where ILSInstrumentID = @ILSInstrumentID and AnalysisSID = @ActivityID and IsDeleted = 'N'
    and InuringSequenceNumber = 1 and ParentRelationType = 4) SET @isRPP = 1
    ELSE SET @isRPP = 0
 
    CREATE TABLE #tmpTerms(
        ID INT IDENTITY(1,1),
        ILSTermsID INT
    )
    INSERT INTO #tmpTerms(ILSTermsID)
    SELECT ILSTermsID from ARAPL_Configuration_v13.dbo.ILSTerms where ILSInstrumentID = @ILSInstrumentID and AnalysisSID = @ActivityID and IsDeleted = 'N'
    order by InuringSequenceNumber desc
 
    SELECT @TermsMAXID = MAX(ID) FROM #tmpTerms
 
    WHILE @TermsID <= @TermsMAXID
    BEGIN
        TRUNCATE TABLE #tmpAggYLT
        TRUNCATE TABLE #tmpGRYELT
        TRUNCATE TABLE #tmpGUYELT
        TRUNCATE TABLE #tmpOccYELT
        TRUNCATE TABLE #tmpNetYELT
        SELECT @ILSTermsID = ILSTermsID FROM #tmpTerms WHERE ID = @TermsID
 
        SELECT
            @IndustryLossMinimum = ISNULL(IndustryLossMinimum, 0) / c.ExchangeFactor,
            @IndustryLossMaximum = CASE WHEN IndustryLossMaximum is NULL OR IndustryLossMaximum = 0 THEN @DEFAULTLIMIT ELSE IndustryLossMaximum END/ c.ExchangeFactor,
            @CompanyLossMinimum = ISNULL(CompanyLossMinimum, 0) / c.ExchangeFactor,
            @CompanyLossMaximum = CASE WHEN CompanyLossMaximum IS NULL OR CompanyLossMaximum = 0 THEN @DEFAULTLIMIT ELSE CompanyLossMaximum END / c.ExchangeFactor,
            @OccurrenceLimit = CASE WHEN OccurrenceLimit IS NULL or OccurrenceLimit = 0 THEN @DEFAULTLIMIT ELSE OccurrenceLimit END / c.ExchangeFactor,
            @OccurrenceRetention = CASE WHEN OccurrenceRetention is null THEN @DEFAULTRETENTION ELSE OccurrenceRetention END / c.ExchangeFactor,
            @AggregateLimit = CASE WHEN AggregateLimit IS NULL or AggregateLimit = 0 THEN case when b.ReinsuranceTypeCode = 'OCCILW' THEN OccurrenceLimit ELSE @DEFAULTLIMIT END ELSE AggregateLimit END / c.ExchangeFactor,
            @AggregateRetention = CASE WHEN AggregateRetention is null THEN @DEFAULTRETENTION ELSE AggregateRetention END / c.ExchangeFactor,
            @CurrencyCode = b.CurrencyCode,
            @ParentILSTermsID = b.ParentILSTermsID,
            @ParentRelationship = b.ParentRelationType,
            @CoinsuranceAmount = ISNULL(CoinsuranceAmount, 0),
            @QS_Cession = ISNULL(QS_Cession, 1),
            @DeductibleType = DeductibleType,
            @AggregateDeductible = AggregateDeductible / c.ExchangeFactor,
            @ReinsuranceTypeCode = b.ReinsuranceTypeCode,
            @Premium = isnull(Premium, PercentAnnualSpread * PrincipalAmount) / c.ExchangeFactor,
            @ROL = case when InuringSequenceNumber = 1 or (@isRPP = 1 and InuringSequenceNumber = 2) then ISNULL(PercentAnnualSpread, Premium / PrincipalAmount) else 0 end,
            @RPPROL = CASE WHEN @isRPP = 1 AND InuringSequenceNumber = 2 THEN
                (SELECT ISNULL(LayerPremium, 0) FROM ARAPL_Configuration_v13.dbo.ILSTerms
                 WHERE ILSInstrumentID = b.ILSInstrumentID AND AnalysisSID = b.AnalysisSID
                   AND InuringSequenceNumber = 1 AND ParentRelationType = 4 AND IsDeleted = 'N')
                ELSE 0 END,
            @ReinstatementPremium = ReinstatementPremium,
            @PrincipalAmount = PrincipalAmount / c.ExchangeFactor,
            @EventNumber = StartingEventNumber,
            @InceptionDate = InceptionDate,
            @ExpirationDate = ExpirationDate,
            @ParticipationNet = ISNULL(ParticipationGross, 1),
            @InuringSequenceNumber = InuringSequenceNumber
        from ARAPL_Configuration_v13.dbo.ILSTerms b
        inner join ARAPL_Configuration_v13.dbo.CurrencyTable c
        on b.CurrencyCode = c.CurrencyCode
        WHERE b.ILSTermsID = @ILSTermsID
 
        DECLARE @EffectiveLossMinimum FLOAT =
        CASE WHEN ISNULL(@CompanyLossMinimum, 0) > 0 THEN @CompanyLossMinimum
        ELSE ISNULL(@IndustryLossMinimum, 0) END
        DECLARE @EffectiveLossMaximum FLOAT =
        CASE WHEN @CompanyLossMaximum IS NOT NULL AND @CompanyLossMaximum < @DEFAULTLIMIT THEN @CompanyLossMaximum
        ELSE ISNULL(@IndustryLossMaximum, @DEFAULTLIMIT) END
        DECLARE @CoinsuranceFactor FLOAT = 1 - @CoinsuranceAmount
 
        SET @EventNumber = case when ISNULL(@EventNumber, 0) = 0 then 1 else @EventNumber end
        SET @RPPROL = @RPPROL / @OccurrenceLimit
        SET @InceptionDay = DATEPART(DAYOFYEAR,@InceptionDate)
        SET @ExpirationDay = DATEPART(DAYOFYEAR,@ExpirationDate)
 
        IF CHARINDEX('@', @ReinstatementPremium) = 0 or CHARINDEX('@', @ReinstatementPremium) is null
        SET @ReinstatementPremium = ''
 
        SET @isSeasonal = CASE WHEN DATEADD(YY, 1, @InceptionDate) > DATEADD(DD,1, @ExpirationDate) THEN 1 ELSE 0 END
        IF @DEBUG = 1 SELECT @InceptionDate as InceptionDate, @ExpirationDate ExpirationDate, @InceptionDay InceptionDay, @ExpirationDay ExpirationDay, @isSeasonal as Seasonal
 
        TRUNCATE TABLE #ReinstatementTerms
        TRUNCATE TABLE #tmpReinstatements
        SET @ReinstID = 1
        SET @ReinstMAXID = 0
        IF @ReinsuranceTypeCode in ('CATXOL', 'RPP')
        BEGIN
            IF @DEBUG = 1 SELECT 'CATXOL', @ReinstatementPremium
            truncate table #tmpReinstatements
            insert into #tmpReinstatements([Count], ROL)
            select substring(value, 1, charindex('@', value) - 1), substring(value, charindex('@', value) + 1, LEN(value))
            from string_split(@ReinstatementPremium, ',') where LEN(value)<>0
            ;WITH cte AS
              (
                SELECT * FROM #tmpReinstatements
                UNION ALL
                SELECT cte.[ID], (cte.[Count] - 1) [Count], cte.ROL
                FROM cte INNER JOIN #tmpReinstatements t
                  ON cte.[ID] = t.[ID]
                WHERE cte.[Count] > 1
            )
            INSERT INTO #ReinstatementTerms(Rate)
            SELECT ROL/100.0
            FROM cte
            SELECT @ReinstMAXID = MAX(ID) from #ReinstatementTerms
            SET @ReinstMAXID = ISNULL(@ReinstMAXID, 0)
        END
 
        TRUNCATE TABLE #tmpDeductibleType
        INSERT INTO #tmpDeductibleType(ID, isApply)
        SELECT a.ID, b.bin
        FROM ARAPL_Configuration_v13.dbo.ILSDeductibleTypes a
        INNER JOIN ARAPL_Configuration_v13.dbo.Int2Bin(@DeductibleType) b
        on a.ID = b.ID
 
        SET @isFranchiseDeductible = 0
        SET @isReverseFranchiseDeductible = 0
        SET @isInnerAggregateDeductible = 0
        SET @isOuterAggregateDeductible = 0
        SELECT @isFranchiseDeductible = isApply FROM #tmpDeductibleType WHERE ID = 1
        SELECT @isReverseFranchiseDeductible = isApply FROM #tmpDeductibleType WHERE ID = 2
        SELECT @isInnerAggregateDeductible = isApply FROM #tmpDeductibleType WHERE ID = 4
        SELECT @isOuterAggregateDeductible = isApply FROM #tmpDeductibleType WHERE ID = 8
        IF @ILSType = 'ILW'
        BEGIN
            SET @isFranchiseDeductible = 1
        END
 
        IF @DEBUG = 1 select *, @isFranchiseDeductible isFranchiseDeductible, @isReverseFranchiseDeductible isReverseFranchiseDeductible, @isInnerAggregateDeductible isInnerAggregateDeductible, @isOuterAggregateDeductible isOuterAggregateDeductible from #tmpDeductibleType
 
        IF @DEBUG = 1
        INSERT INTO dbo.Debug_LayerTerms(
            ActivityID, ILSTermsID, InuringSequenceNumber, ReinsuranceTypeCode, ILSType,
            ParentILSTermsID, ParentRelationType,
            OccurrenceLimit, OccurrenceRetention, AggregateLimit, AggregateRetention, AggregateDeductible,
            Premium, ROL, PrincipalAmount, CurrencyCode,
            InceptionDate, ExpirationDate, isSeasonal,
            isFranchiseDeductible, isReverseFranchiseDeductible, isInnerAggregateDeductible, isOuterAggregateDeductible
        )
        SELECT
            @ActivityID, @ILSTermsID, @InuringSequenceNumber, @ReinsuranceTypeCode, @ILSType,
            @ParentILSTermsID, @ParentRelationship,
            @OccurrenceLimit, @OccurrenceRetention, @AggregateLimit, @AggregateRetention, @AggregateDeductible,
            @Premium, @ROL, @PrincipalAmount, @CurrencyCode,
            @InceptionDate, @ExpirationDate, @isSeasonal,
            @isFranchiseDeductible, @isReverseFranchiseDeductible, @isInnerAggregateDeductible, @isOuterAggregateDeductible
        IF @DEBUG = 1 SELECT @OccurrenceLimit OccurrenceLimit, @OccurrenceRetention OccurrenceRetention, @AggregateLimit AggregateLimit, @AggregateRetention AggregateRetention, @IndustryLossMaximum IndustryLossMaximum, @IndustryLossMinimum IndustryLossMinimum,
        @EffectiveLossMinimum EffectiveLossMinimum, @EffectiveLossMaximum EffectiveLossMaximum, @AggregateDeductible AggregateDeductible
 
        TRUNCATE TABLE #tmpLossSets
        INSERT INTO #tmpLossSets(LossSetID, LSActivityID, LMF)
        SELECT a.LossSetID, b.ActivityId, a.LMF
        FROM ARAPL_Configuration_v13.dbo.ILSTermsLossSetAssociation a
        INNER JOIN ARAPL_Configuration_v13.dbo.LossSetMetaData b
        on a.LossSetID = b.LossSetID
        where a.ILSTermsID = @ILSTermsID
        and b.isDeleted = 0
        and b.isModeledLoss = 'Y'
 
        SET @LSID = 1
        SET @LSMAXID = 0
        SELECT @LSMAXID = MAX(ID) FROM #tmpLossSets
        SET @query = ''
        IF @DEBUG = 1 select *, @LSMAXID LSMAXID from #tmpLossSets
        WHILE @LSID <= @LSMAXID
        BEGIN
            SELECT @LSLossSetID = LossSetID, @LSActivityID = LSActivityID, @LSLMF = LMF
            FROM #tmpLossSets WHERE ID = @LSID
            SET @LSYELTTable = '[ARAPL_Data_v13].[dbo].[YELT_' + CAST(@LSActivityID as nvarchar(100)) + ']'
            IF @DEBUG = 1 SELECT @LSLMF LSLMF, @LSLossSetID LSLossetID, @LSActivityID LSActivityID, @isFranchiseDeductible isFranchiseDeductible, @isReverseFranchiseDeductible isReverseFranchiseDeductible
 
            SET @query = 'INSERT INTO #tmpGUYELT(EventID, YearID, Day, Loss)'
            + ' SELECT a.EventID, a.YearID, a.DayID, a.PreCatLoss * ' + cast(@LSLMF as nvarchar(255)) + ' * ISNULL(c.TotalLMF, 1)'
            + ' FROM ' + @LSYELTTable + ' a'
            + ' LEFT JOIN ('
            + '   SELECT ModelCode, MAX(TotalLMF) as TotalLMF'
            + '   FROM #tmpLossAdjustmentFactors'
            + '   GROUP BY ModelCode'
            + ' ) c ON c.ModelCode = FLOOR(a.EventID / 1e7)'
            IF @DEBUG = 1 PRINT @query
            EXEC sp_EXECUTESQL @query, N'@LSLMF FLOAT', @LSLMF=@LSLMF
            IF @DEBUG = 1 select @LSLossSetID LossSetID, COUNT(*) as GUCount_LossSets, SUM(Loss)/1e4 as AAL from #tmpGUYELT
 
            SET @LSID = @LSID + 1
        END
 
        TRUNCATE TABLE #tmpUnderLyingLayers
        INSERT INTO #tmpUnderLyingLayers(ILSTermsID, ChildILSTermsID)
        SELECT ParentILSTermsID, ILSTermsID FROM ARAPL_Configuration_v13.dbo.ILSTerms where ParentILSTermsID = @ILSTermsID and ILSInstrumentID = @ILSInstrumentID
        SET @LSID = 1
        SET @LSMAXID = 0
        SELECT @LSMAXID = MAX(ID) from #tmpUnderLyingLayers
        WHILE @LSID <= @LSMAXID
        BEGIN
            SELECT @ChildILSTermsID = ChildILSTermsID from #tmpUnderLyingLayers where ID = @LSID
            SET @tmpOutputTableName = 'tmpGrLoss_' + CAST(@ChildILSTermsID AS NVARCHAR(10))
            SET @query = 'INSERT INTO #tmpGUYELT(EventID, YearID, Day, Loss)'
            + ' SELECT EventID, Year, Day, Loss'
            + ' FROM ' + @tmpOutputTableName + ' a'
            IF @DEBUG = 1 PRINT @query
            EXEC sp_executeSQL @query
            SET @LSID = @LSID + 1
        END
        IF @DEBUG = 1 SELECT @tmpOutputTableName tmpOutputTableName, @ChildILSTermsID ChildILSTermsID
        IF @DEBUG = 1 SELECT @LSLossSetID as LossSetID,COUNT(*) as GUCountUnderLying, SUM(Loss)/1e4 as GUAAL FROM #tmpGUYELT
 
        IF @DEBUG = 1
        INSERT INTO dbo.Debug_GUYELT(ActivityID, ILSTermsID, EventID, YearID, Day, Loss)
        SELECT @ActivityID, @ILSTermsID, EventID, YearID, Day, Loss FROM #tmpGUYELT
 
        SET @isAllPerils = 0
        SET @isAllRegions = 0
        IF EXISTS (SELECT * FROM ARAPL_Configuration_v13.dbo.ILSTermsRegion rb where rb.ILSTermsID = @ILSTermsID and rb.CountryID = 3)
        or (Not EXISTS(SELECT * FROM ARAPL_Configuration_v13.dbo.ILSTermsRegion rb where rb.ILSTermsID = @ILSTermsID))
        BEGIN
            SET @isAllRegions= 1
        END
        IF EXISTS (SELECT * FROM ARAPL_Configuration_v13.dbo.ILSTermsPeril pb where pb.ILSTermsID = @ILSTermsID and pb.PerilID = 0)
        OR(NOT EXISTS (SELECT * FROM ARAPL_Configuration_v13.dbo.ILSTermsPeril pb where pb.ILSTermsID = @ILSTermsID))
        BEGIN
            SET @isAllPerils = 1
        END
 
        SET @query = 'INSERT INTO #tmpGRYELT(EventID, YearID, Day, Loss)'
        + ' SELECT a.EventID, YearID, a.Day, SUM(Loss) as Loss'
        + ' FROM #tmpGUYELT a'
        + CASE WHEN @isSeasonal = 1 THEN
             ' AND (' + CASE WHEN @InceptionDay < @ExpirationDay THEN ' a.Day >= ''' + CAST(@InceptionDay as nvarchar(20)) + ''' AND a.Day <= ''' + CAST(@ExpirationDay AS NVARCHAR(20)) + ''')'
             ELSE ' a.Day >= ''' + CAST(@InceptionDay as nvarchar(20)) + ''' OR a.Day <= ''' + CAST(@ExpirationDay as nvarchar(20)) + ''')' END
        ELSE '' END
        + ' GROUP BY a.EventID, a.YearID, a.Day'
 
        IF @DEBUG = 1 PRINT @query
        EXEC sp_executeSQL @query, N'@ILSTermsID INT', @ILSTermsID = @ILSTermsID
 
        IF @DEBUG = 1 SELECT @ILSTermsID ILSTermsID,COUNT(*) as GRCount, SUM(Loss)/1e4 as GRAAL from #tmpGRYELT
 
        IF @DEBUG = 1
        INSERT INTO dbo.Debug_GRYELT(ActivityID, ILSTermsID, EventID, YearID, Day, Loss)
        SELECT @ActivityID, @ILSTermsID, EventID, YearID, Day, Loss FROM #tmpGRYELT
 
        TRUNCATE TABLE #tmpGRYELT_PostDed
        IF @DEBUG = 1 select sum(Loss)/1e4 as BeforeDedAAL from #tmpGRYELT
        IF @isOuterAggregateDeductible = 1
        BEGIN
            TRUNCATE TABLE #tmpDedAgg
            TRUNCATE TABLE #tmpDedYELT
            INSERT INTO #tmpDedYELT(EventID, YearID, Day, Loss)
            SELECT EventID, YearID, Day, Loss
            FROM #tmpGRYELT
 
            INSERT INTO #tmpDedAgg(YearID, NetLoss, AnnualLoss)
            SELECT YearID, CASE WHEN sum(Loss) > @AggregateDeductible THEN SUM(Loss) - @AggregateDeductible
            ELSE 0 END as NetLoss, SUM(Loss) as AnnualLoss
            FROM #tmpGRYELT
            group by YearID
 
            INSERT INTO #tmpGRYELT_PostDed(EventID, YearID, Day, Loss)
            SELECT b.EventID, b.YearID, b.Day, b.Loss * a.NetLoss / a.AnnualLoss
            FROM #tmpDedAgg a
            inner join #tmpDedYELT b
            on a.YearID = b.YearID
            where a.NetLoss <> 0
        END
       ELSE
        BEGIN
            IF @isFranchiseDeductible = 1 OR @isReverseFranchiseDeductible = 1
            BEGIN
                INSERT INTO #tmpGRYELT_PostDed(EventID, YearID, Day, Loss)
                SELECT EventID, YearID, Day, Loss
                FROM #tmpGRYELT
                WHERE (@isFranchiseDeductible = 0 OR Loss >= @EffectiveLossMinimum)
                  AND (@isReverseFranchiseDeductible = 0 OR Loss <= @EffectiveLossMaximum)
            END
            ELSE
            BEGIN
                INSERT INTO #tmpGRYELT_PostDed(EventID, YearID, Day, Loss)
                SELECT EventID, YearID, Day, Loss
                FROM #tmpGRYELT
            END
        END
 
        IF @DEBUG = 1 select sum(Loss)/1e4 as DedAAL from #tmpGRYELT_PostDed
 
        IF @DEBUG = 1
        INSERT INTO dbo.Debug_GRYELT_PostDed(ActivityID, ILSTermsID, EventID, YearID, Day, Loss)
        SELECT @ActivityID, @ILSTermsID, EventID, YearID, Day, Loss FROM #tmpGRYELT_PostDed
        IF @ParentRelationship = 5
BEGIN
    -- Drop-Down Cover: this layer IS a step-layer. Its own loss/terms are calculated
    -- entirely within the PRIMARY layer's processing pass (below) - a step-layer
    -- produces no output of its own when processed as a standalone ILSTermsID.
    IF @DEBUG = 1 PRINT 'Drop-Down step-layer - no standalone output'
END
ELSE IF EXISTS (
    SELECT * FROM ARAPL_Configuration_v13.dbo.ILSTerms
    WHERE ParentILSTermsID = @ILSTermsID AND ParentRelationType = 5
    AND ILSInstrumentID = @ILSInstrumentID AND AnalysisSID = @ActivityID AND IsDeleted = 'N'
)
BEGIN
    -- This layer IS a primary layer with a linked step-layer - resolve the step's terms
    IF @DEBUG = 1 PRINT 'Drop-Down primary layer - resolving step-layer terms'

    DECLARE @StepOccRetention FLOAT, @StepOccLimit FLOAT, @PrimaryReinstatement INT

    SELECT TOP 1
        @StepOccRetention = ISNULL(s.OccurrenceRetention, 0) / c2.ExchangeFactor,
        @StepOccLimit = ISNULL(s.OccurrenceLimit, @DEFAULTLIMIT) / c2.ExchangeFactor
    FROM ARAPL_Configuration_v13.dbo.ILSTerms s
    INNER JOIN ARAPL_Configuration_v13.dbo.CurrencyTable c2 ON s.CurrencyCode = c2.CurrencyCode
    WHERE s.ParentILSTermsID = @ILSTermsID AND s.ParentRelationType = 5
    AND s.ILSInstrumentID = @ILSInstrumentID AND s.AnalysisSID = @ActivityID AND s.IsDeleted = 'N'
    ORDER BY s.StepLayerSequenceNumber

    -- Primary's own reinstatement count, reusing the same reinstatement-string parsing
    -- already built for CATXOL/RPP earlier in this loop iteration
    SET @PrimaryReinstatement = @ReinstMAXID

    DROP TABLE IF EXISTS #tmpDropDownState
    DROP TABLE IF EXISTS #tmpDropDownYELT

    SELECT
        EventID, YearID, Day, Loss,
        TriggersPrimary = CASE WHEN Loss > @OccurrenceRetention THEN 1 ELSE 0 END
    INTO #tmpDropDownState
    FROM #tmpGRYELT_PostDed

    ;WITH RunningUse AS (
        SELECT
            EventID, YearID, Day, Loss, TriggersPrimary,
            PriorUses = SUM(TriggersPrimary) OVER (
                PARTITION BY YearID ORDER BY Day
                ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING
            )
        FROM #tmpDropDownState
    )
    INSERT INTO #tmpOccYELT(EventID, YearID, Day, Loss)
    SELECT
        EventID, YearID, Day,
        CASE
            WHEN ISNULL(PriorUses, 0) <= @PrimaryReinstatement THEN
                CASE WHEN Loss <= @OccurrenceRetention THEN 0
                     WHEN (Loss - @OccurrenceRetention) > @OccurrenceLimit THEN @OccurrenceLimit
                     ELSE (Loss - @OccurrenceRetention) END
            ELSE
                CASE WHEN Loss <= @StepOccRetention THEN 0
                     WHEN (Loss - @StepOccRetention) > @StepOccLimit THEN @StepOccLimit
                     ELSE (Loss - @StepOccRetention) END
        END
    FROM RunningUse

    SET @tmpOutputTableName = 'tmpGrLoss_' + CAST(@ILSTermsID AS NVARCHAR(10))
    SET @query = 'INSERT INTO #tmpNetYELT (EventID, Year, Day, Loss, Loss_xRIP)'
    + ' SELECT a.EventID, a.YearID, a.Day, a.Loss, a.Loss'
    + ' FROM #tmpOccYELT a'
    + ' where a.Loss <> 0'
    IF @DEBUG = 1 PRINT @query
    EXEC sp_executeSQL @query
END
ELSE 
 
        IF @ReinsuranceTypeCode in ('AGGXOL', 'QS', 'AQS')
        BEGIN

            IF @DEBUG = 1 SELECT @OccurrenceLimit, @OccurrenceRetention, @AggregateLimit, @AggregateRetention


                -- NEW: resolve per-event cession % (treaty/peril/country/state, most-specific wins)
        DROP TABLE IF EXISTS #tmpEventGeo
        SELECT
            g.EventID, s.PerilID,
            StateGeographySID = st.GeographySID,
            CountryGeographySID = ct.GeographySID
        INTO #tmpEventGeo
        FROM #tmpGRYELT_PostDed g
        INNER JOIN ARAPL_IndustryLoss_V13.dbo.SummaryIndustryLoss_Stoch_Final s ON s.EventID = g.EventID
        --INNER JOIN ARAPL_Configuration_v13.dbo.TEST_SummaryIndustryLoss_Stoch_Final_v2 s ON s.EventID = g.EventID
        LEFT JOIN arapl_Works_v13.dbo.temp_TblAreaExternal st
            ON st.strL1BriefName = s.CountryCode AND st.strL2BriefName = s.StateCode AND st.intLevel = 2
        LEFT JOIN arapl_Works_v13.dbo.temp_TblAreaExternal ct
            ON ct.strL1BriefName = s.CountryCode AND ct.intLevel = 1

        DROP TABLE IF EXISTS #tmpEventCession

        SELECT eg.EventID,
         EffectiveCession = COALESCE(
            -- 1. Most specific: this exact peril, at this exact state
            (SELECT TOP 1 CededPercent FROM ARAPL_Configuration_v13.dbo.ILSTermsPeril p
             WHERE p.ILSTermsID = @ILSTermsID AND p.PerilID = eg.PerilID AND p.GeographySID = eg.StateGeographySID),
            -- 2. State-wide rule, any peril
            (SELECT TOP 1 CededPercent FROM ARAPL_Configuration_v13.dbo.ILSTermsRegion r
             WHERE r.ILSTermsID = @ILSTermsID AND r.GeographySID = eg.StateGeographySID AND r.CededPercent IS NOT NULL),
            -- 3. This peril, no specific place (GeographySID IS NULL)
            (SELECT TOP 1 CededPercent FROM ARAPL_Configuration_v13.dbo.ILSTermsPeril p
             WHERE p.ILSTermsID = @ILSTermsID AND p.PerilID = eg.PerilID AND p.GeographySID IS NULL),
            -- 4. Country-wide rule, any peril
            (SELECT TOP 1 CededPercent FROM ARAPL_Configuration_v13.dbo.ILSTermsRegion r
             WHERE r.ILSTermsID = @ILSTermsID AND r.GeographySID = eg.CountryGeographySID AND r.CededPercent IS NOT NULL)
             )

        INTO #tmpEventCession
        FROM #tmpEventGeo eg


            INSERT INTO #tmpOccYELT(EventID, YearID, Day, Loss)
            SELECT EventID, YearID, Day,
            CASE WHEN Loss >= @OccurrenceLimit + @OccurrenceRetention THEN @OccurrenceLimit
                    WHEN Loss >= @OccurrenceRetention THEN Loss - @OccurrenceRetention
            ELSE 0 END as Loss
            FROM #tmpGRYELT_PostDed
            SET @AggregateRetention = @AggregateRetention + (@EventNumber - 1) * @OccurrenceLimit
 
            INSERT INTO #tmpAggYLT(YearID, AnnualLoss, NetLoss)
            SELECT YearID, SUM(Loss) as AnnualLoss,
            CASE WHEN SUM(Loss) >= @AggregateLimit + @AggregateRetention THEN @AggregateLimit
                WHEN SUM(Loss) >= @AggregateRetention THEN SUM(Loss) - @AggregateRetention
                ELSE 0 END as NetLoss
            FROM #tmpOccYELT
            group by YearID
            IF @DEBUG = 1 SELECT count(*), SUM(Loss)/1e4 OccAAL FROM #tmpOccYELT
            IF @DEBUG = 1 SELECT count(*), SUM(NetLoss)/1e4 AggAAL FROM #tmpAggYLT
            SET @tmpOutputTableName = 'tmpGrLoss_' + CAST(@ILSTermsID AS NVARCHAR(10))
 
            SET @query = 'INSERT INTO #tmpNetYELT (EventID, Year, Day, Loss, Loss_xRIP)'
            + ' SELECT b.EventID, b.YearID, b.Day,'
            + ' b.Loss * a.NetLoss / a.AnnualLoss,'
            + ' b.Loss * a.NetLoss / a.AnnualLoss'
            + ' FROM #tmpAggYLT a'
            + ' INNER JOIN #tmpOccYELT b'
            + ' on a.YearID = b.YearID'
            + ' where a.AnnualLoss <> 0 and b.Loss <> 0'
            IF @DEBUG = 1 PRINT @query
            EXEC sp_executeSQL @query
        END
        ELSE IF @ReinsuranceTypeCode in ('CATXOL', 'RPP', 'CATBOND')
        BEGIN
            TRUNCATE TABLE #tmpReinstAggYLT
            SET @ROL = CASE WHEN @ReinsuranceTypeCode = 'RPP' THEN @RPPROL
                            ELSE @ROL END
            IF @ReinsuranceTypeCode = 'CATBOND' AND @OccurrenceLimit = @DEFAULTLIMIT
            BEGIN
                -- PROPOSED FIX (unvalidated against product intent):
                SET @OccurrenceLimit = @PrincipalAmount
                SET @AggReinsPrem = 0
            END
            ELSE
            BEGIN
                SET @AggregateLimit = (@ReinstMAXID + 1)* @OccurrenceLimit
                SET @AggReinsPrem = 0
                SET @AggregateRetention = CASE @isInnerAggregateDeductible WHEN  1 THEN @AggregateDeductible ELSE 0 END
                -- Reverted to original, correct form for this branch:
                SET @AggregateRetention = @AggregateRetention + (@EventNumber - 1) * @OccurrenceLimit
            END
            INSERT INTO #tmpOccYELT(EventID, YearID, Day, Loss)
            SELECT EventID, YearID, Day,
            CASE WHEN Loss >= @OccurrenceLimit + @OccurrenceRetention THEN @OccurrenceLimit
                    WHEN Loss >= @OccurrenceRetention THEN Loss - @OccurrenceRetention
            ELSE 0 END as Loss
            FROM #tmpGRYELT_PostDed
 
            IF @DEBUG = 1 SELECT SUM(Loss)/1e4 as OccAAL from #tmpOccYELT
 
            SET @query = 'insert into #tmpReinstAggYLT(YearID, NetNetLoss, tmpNetLoss, ReinstatementPremium)'
            + ' select YearID,'
            + ' case when sum(Loss) > ' + CAST((@AggregateLimit + @AggregateRetention) AS NVARCHAR(100)) + ' then ' + CAST(@AggregateLimit AS NVARCHAR(100))
                    + ' WHEN SUM(Loss) > ' + CAST(@AggregateRetention AS NVARCHAR(100)) + ' then SUM(Loss) - ' + CAST(@AggregateRetention AS NVARCHAR(100))
                    + ' else 0  end as NetNetLoss,
            sum(Loss) as tmpNetLoss,'
            IF @ReinstMAXID = 0
            BEGIN
                SET @query = @query + ' 0'
            END
            ELSE
            BEGIN
                SET @query = @query + 'CASE '
                WHILE @ReinstID <= @ReinstMAXID
                BEGIN
                    SELECT @ReinstRate = Rate FROM #ReinstatementTerms WHERE ID = @ReinstID
                    SET @query = @query + ' WHEN sum(Loss) - ' + CAST(@AggregateRetention AS NVARCHAR(100)) + ' <= ' + CAST(@ReinstID * @OccurrenceLimit AS NVARCHAR(100)) + ' THEN ' + CAst(@aggReinsPrem  AS NVARCHAR(100)) + ' + '  + cast((@ReinstRate * @ROL) as NVARCHAR(100)) + ' * ( CASE WHEN SUM(Loss) - ' + CAST(@AggregateRetention AS NVARCHAR(100)) + ' < 0 THEN 0 ELSE SUM(Loss) - ' + CAST(@AggregateRetention AS NVARCHAR(100)) + ' END - ' + cast(((@ReinstID - 1) * @OccurrenceLimit) AS NVARCHAR(100)) + ') '
                    SET @aggReinsPrem = @aggReinsPrem + @ReinstRate * @ROL * @OccurrenceLimit
                    SET @ReinstID = @ReinstID + 1
                END
                SET @query = @query + ' ELSE ' + cast(@aggReinsPrem AS NVARCHAR(100)) + ' END'
            END
            SET @query = @query + ' as ReinstatementPremium
            from #tmpOccYELT
            group by YearID'
 
            IF @DEBUG = 1 SELECT @ReinstID, @ReinstMAXID, @query, @OccurrenceLimit, @OccurrenceRetention, @AggReinsPrem, @ReinstRate, @ROL as ROL, @RPPROL as RPPROL, @AggregateLimit
            IF @DEBUG = 1 PRINT @query
            EXEC sp_ExecuteSQL @query
 
            IF @DEBUG = 1 SELECT sum(a.NetNetLoss)/1e4 NetNetLoss, sum(a.tmpNetLoss)/1e4 tmpNetLoss, sum(a.ReinstatementPremium)/1e4 ReinstatementPremium
            FROM #tmpReinstAggYLT a
            IF @isRPP = 1 and @TermsID = @TermsMAXID - 1
            BEGIN
                IF @DEBUG = 1 PRINT 'RPP'
                INSERT INTO #tmpNetYELT(EventID, Year, Day, Loss, Loss_xRIP)
                SELECT eventid, a.YearID ,b.Day
                    ,b.Loss/a.tmpNetLoss * a.ReinstatementPremium
                    ,b.Loss/a.tmpNetLoss * a.ReinstatementPremium
                FROM #tmpReinstAggYLT a
                INNER JOIN #tmpOccYELT b
                ON a.YearID = b.YearID
                AND a.tmpNetLoss <>0
            END
            ELSE
            BEGIN
                INSERT INTO #tmpNetYELT(EventID, Year, Day, Loss, Loss_xRIP)
                SELECT eventid, a.YearID ,b.Day
                    ,b.Loss/a.tmpNetLoss * (a.NetNetLoss - a.ReinstatementPremium),b.Loss/a.tmpNetLoss * a.NetNetLoss
                FROM #tmpReinstAggYLT a
                INNER JOIN #tmpOccYELT b
                ON a.YearID = b.YearID
                AND a.tmpNetLoss <>0
            END
            IF @DEBUG = 1 SELECT sum(a.Loss)/1e4 as NetAAL
            FROM #tmpNetYELT a
        END
        ELSE IF @ReinsuranceTypeCode = 'AGGTRIGGER'
        BEGIN
            IF @DEBUG = 1 PRINT 'Agg ILW'
            SET @query = 'INSERT INTO #tmpAggYLT(YearID, AnnualLoss, NetLoss)'
            + ' select YearID, SUM(Loss),'
            + ' CASE WHEN SUM(Loss) > ' + CAST(@AggregateRetention as nvarchar(20)) + ' THEN ' + CAST(@PrincipalAmount AS nvarchar(20)) + ' ELSE 0 END'
            + ' from #tmpGRYELT_PostDed'
            + CASE WHEN @isFranchiseDeductible = 1 THEN ' WHERE Loss >= ' + CAST(@EffectiveLossMinimum as NVARCHAR(20)) + CASE WHEN @isReverseFranchiseDeductible = 1 THEN ' AND Loss <= ' + CAST(@EffectiveLossMaximum as NVARCHAR(20)) ELSE '' END
                WHEN @isReverseFranchiseDeductible = 1 and @isFranchiseDeductible = 0 THEN ' WHERE Loss ELSE 1 END <= ' + CAST(@EffectiveLossMaximum as NVARCHAR(20))
                ELSE '' END
            + ' group by YearID'
            IF @DEBUG = 1 PRINT @query
            EXEC sp_executeSQL @query
 
            SET @query = 'INSERT INTO #tmpNetYELT (EventID, Year, Day, Loss, Loss_xRIP)'
            + ' SELECT b.EventID, b.YearID, b.Day,'
            + ' b.Loss * a.NetLoss / a.AnnualLoss,'
            + ' b.Loss * a.NetLoss / a.AnnualLoss'
            + ' FROM #tmpAggYLT a'
            + ' INNER JOIN #tmpGRYELT_PostDed b'
            + ' on a.YearID = b.YearID'
            + ' where a.AnnualLoss <> 0 and b.Loss <> 0'
            IF @DEBUG = 1 PRINT @query
            EXEC sp_executeSQL @query
 
        END
        ELSE IF @ReinsuranceTypeCode = 'OCCTRIGGER'
        BEGIN
            IF @DEBUG = 1 PRINT 'ILW'
            SET @query = 'INSERT INTO #tmpNetYELT(EventID, Year, Day, Loss, Loss_xRIP)'
            + ' SELECT EventID, Year, Day, ' + CAST(@PrincipalAmount as nvarchar(20)) + ',' + CAST(@PrincipalAmount as nvarchar(20))
            + ' FROM ('+
                ' SELECT EventID, YearID Year, Day, Loss, ROW_NUMBER() over(partition by YearID order by Day) as EventNumber' + ' FROM #tmpGRYELT_PostDed WHERE Loss >' + CAST(@EffectiveLossMinimum as NVARCHAR(100))+ ' ) t1'
            + ' WHERE t1.EventNumber = ' + CAST(@EventNumber as NVARCHAR(10))
            IF @DEBUG = 1 PRINT @query
            EXEC SP_ExecuteSQL @query
        END
        ELSE IF @ReinsuranceTypeCode = 'PRORATA'
        BEGIN
            IF @DEBUG = 1 PRINT 'PRO RATA'
            SET @OccurrenceLimit = @DEFAULTLIMIT
            SET @OccurrenceRetention = @DEFAULTRETENTION
            SET @Query = 'INSERT INTO #tmpOccYELT(EventID, YearID, Day, Loss)'
            + ' SELECT EventID, YearID, Day,'
            + ' CASE WHEN Loss >= ' + CAST(@OccurrenceLimit + @OccurrenceRetention  as NVARCHAR(25)) + ' THEN ' + CAST(@OccurrenceLimit as NVARCHAR(25))
            + ' WHEN Loss >= ' + CAST(@OccurrenceRetention as NVARCHAR(25)) + ' THEN Loss - ' + CAST(@OccurrenceRetention as NVARCHAR(25))
            + ' ELSE 0 END as Loss'
            + ' FROM #tmpGRYELT_PostDed'
            + CASE WHEN @isFranchiseDeductible = 1 THEN ' WHERE Loss >= ' + CAST(@EffectiveLossMinimum as NVARCHAR(20)) + CASE WHEN @isReverseFranchiseDeductible = 1 THEN ' AND Loss <= ' + CAST(@EffectiveLossMaximum as NVARCHAR(20))
                  ELSE '' END
              WHEN @isReverseFranchiseDeductible = 1 and @isFranchiseDeductible = 0 THEN ' WHERE Loss ELSE 1 END <= ' + CAST(@EffectiveLossMaximum as NVARCHAR(20))
              ELSE '' END
            IF @DEBUG = 1 PRINT @Query
            EXEC sp_executeSQL @Query
 
            -- *** THE ACTUAL FIX: use @AggregateLimit, not @OccurrenceLimit (which is
            -- hardcoded to the unlimited placeholder two lines above, for this branch) ***
            SET @AggregateRetention = @AggregateRetention + (@EventNumber - 1) * @AggregateLimit
 
            IF @DEBUG = 1 SELECT SUM(Loss)/1e4 GRAAL FROM #tmpGRYELT_PostDed
            INSERT INTO #tmpAggYLT(YearID, AnnualLoss, NetLoss)
            SELECT YearID, SUM(Loss) as AnnualLoss,
            CASE WHEN SUM(Loss) >= @AggregateLimit + @AggregateRetention THEN @AggregateLimit
                WHEN SUM(Loss) >= @AggregateRetention THEN SUM(Loss) - @AggregateRetention
                ELSE 0 END as NetLoss
            FROM #tmpOccYELT
            group by YearID
            IF @DEBUG = 1 SELECT count(*), SUM(Loss)/1e4 OccAAL FROM #tmpOccYELT
            IF @DEBUG = 1 SELECT count(*), SUM(NetLoss)/1e4 AggAAL FROM #tmpAggYLT
            SET @tmpOutputTableName = 'tmpGrLoss_' + CAST(@ILSTermsID AS NVARCHAR(10))
 
            SET @query = 'INSERT INTO #tmpNetYELT (EventID, Year, Day, Loss, Loss_xRIP)'
            + ' SELECT b.EventID, b.YearID, b.Day,'
            + ' b.Loss * a.NetLoss / a.AnnualLoss *' + CAST(@PrincipalAmount/@AggregateLimit AS nvarchar(100))
            + ' , b.Loss * a.NetLoss / a.AnnualLoss *' + CAST(@PrincipalAmount/@AggregateLimit AS nvarchar(100))
            + ' FROM #tmpAggYLT a'
            + ' INNER JOIN #tmpOccYELT b'
            + ' on a.YearID = b.YearID'
            + ' where a.AnnualLoss <> 0 and b.Loss <> 0'
            IF @DEBUG = 1 PRINT @query
            EXEC sp_executeSQL @query
        END
        ELSE IF @ReinsuranceTypeCode = 'OCCILW'
        BEGIN
            IF @DEBUG = 1 PRINT 'Occurrence ILW'
 
            SET @Query = 'INSERT INTO #tmpOccYELT(EventID, YearID, Day, Loss)'
            + ' SELECT EventID, YearID, Day,'
            + ' CASE WHEN Loss >= ' + CAST(@OccurrenceLimit + @OccurrenceRetention AS NVARCHAR(25)) + ' THEN ' + CAST(@OccurrenceLimit AS NVARCHAR(25))
            + ' WHEN Loss >= ' + CAST(@OccurrenceRetention as NVARCHAR(25)) + '  THEN Loss - ' + CAST(@OccurrenceRetention as NVARCHAR(25))
            + ' ELSE 0 END as Loss'
            + ' FROM #tmpGRYELT_PostDed'
            + CASE WHEN @isFranchiseDeductible = 1 THEN ' WHERE Loss >= ' + CAST(@EffectiveLossMinimum as NVARCHAR(20)) + CASE WHEN @isReverseFranchiseDeductible = 1 THEN ' AND Loss <= ' + CAST(@EffectiveLossMaximum as NVARCHAR(20))
                  ELSE '' END
              WHEN @isReverseFranchiseDeductible = 1 and @isFranchiseDeductible = 0 THEN ' WHERE Loss ELSE 1 END <= ' + CAST(@EffectiveLossMaximum as NVARCHAR(20))
              ELSE '' END
            IF @DEBUG = 1 PRINT @Query
            EXEC sp_executeSQL @Query
 
            SET @AggregateRetention = @AggregateRetention + (@EventNumber - 1) * @OccurrenceLimit
 
            IF @DEBUG = 1 SELECT SUM(Loss)/1e4 GRAAL FROM #tmpGRYELT_PostDed
            INSERT INTO #tmpAggYLT(YearID, AnnualLoss, NetLoss)
            SELECT YearID, SUM(Loss)  as AnnualLoss,
            CASE WHEN SUM(Loss) >= @AggregateLimit + @AggregateRetention  THEN @AggregateLimit
                WHEN SUM(Loss) < @AggregateRetention THEN 0
                ELSE SUM(Loss) - @AggregateRetention END * @PrincipalAmount/@AggregateLimit as NetLoss
            FROM #tmpOccYELT
            group by YearID
            IF @DEBUG = 1 SELECT count(*), SUM(Loss)/1e4 OccAAL FROM #tmpOccYELT
            IF @DEBUG = 1 SELECT count(*), SUM(NetLoss)/1e4 AggAAL FROM #tmpAggYLT
            SET @tmpOutputTableName = 'tmpGrLoss_' + CAST(@ILSTermsID AS NVARCHAR(10))
 
            SET @query = 'INSERT INTO #tmpNetYELT (EventID, Year, Day, Loss, Loss_xRIP)'
            + ' SELECT b.EventID, b.YearID, b.Day,'
            + ' b.Loss * a.NetLoss / a.AnnualLoss,'
            + + ' b.Loss * a.NetLoss / a.AnnualLoss '
            + ' FROM #tmpAggYLT a'
            + ' INNER JOIN #tmpOccYELT b'
            + ' on a.YearID = b.YearID'
            + ' where a.AnnualLoss <> 0 and b.Loss <> 0'
            IF @DEBUG = 1 PRINT @query
            EXEC sp_executeSQL @query
        END
        ELSE
        BEGIN
            SET @query = 'INSERT INTO #tmpNetYELT (EventID, Year, Day, Loss, Loss_xRIP)'
            + ' SELECT a.EventID, a.YearID, a.Day, a.Loss, a.Loss'
            + ' FROM #tmpGRYELT_PostDed a'
            + ' where a.Loss <> 0'
            IF @DEBUG = 1 PRINT @query
            EXEC sp_executeSQL @query
        END
        SET @tmpOutputTableName = 'tmpGrLoss_' + CAST(@ILSTermsID AS NVARCHAR(10))
        IF @DEBUG = 1 SELECT count(*), SUM(Loss)/1e4 NetAAL FROM #tmpNetYELT
 
        IF @DEBUG = 1
        BEGIN
            INSERT INTO dbo.Debug_OccYELT(ActivityID, ILSTermsID, EventID, YearID, Day, Loss)
            SELECT @ActivityID, @ILSTermsID, EventID, YearID, Day, Loss FROM #tmpOccYELT
 
            INSERT INTO dbo.Debug_AggYLT(ActivityID, ILSTermsID, YearID, AnnualLoss, NetLoss)
            SELECT @ActivityID, @ILSTermsID, YearID, AnnualLoss, NetLoss FROM #tmpAggYLT
 
            INSERT INTO dbo.Debug_ReinstAggYLT(ActivityID, ILSTermsID, YearID, NetNetLoss, tmpNetLoss, ReinstatementPremium)
            SELECT @ActivityID, @ILSTermsID, YearID, NetNetLoss, tmpNetLoss, ReinstatementPremium FROM #tmpReinstAggYLT
 
            INSERT INTO dbo.Debug_NetYELT(ActivityID, ILSTermsID, EventID, Year, Day, Loss, Loss_xRIP)
            SELECT @ActivityID, @ILSTermsID, EventID, Year, Day, Loss, Loss_xRIP FROM #tmpNetYELT
        END
 
        SET @Query = 'IF OBJECT_ID(''' + @tmpOutputTableName + ''', ''U'') IS NOT NULL'
            + ' DROP TABLE ' + @tmpOutputTableName + ';'
            + ' CREATE TABLE ' + @tmpOutputTableName
            + ' (EventID BIGINT, Year INT, Day INT, Loss FLOAT, NetLoss_xRIP FLOAT)'
        IF @DEBUG = 1 PRINT @Query
        EXEC sp_executeSQL @Query
      
                      
         IF @ParentRelationship = 2 AND @TermsID <> @TermsMAXID
            BEGIN
                SET @query = 'INSERT INTO ' + @tmpOutputTableName + '(EventID, Year, Day, Loss, NetLoss_xRIP)'
                + 'SELECT b.EventID, b.YearID, b.Day,'
                + ' (b.Loss - isnull(a.Loss,0)) * @ParticipationNet * @CoinsuranceFactor * ISNULL(c.EffectiveCession, @QS_Cession) as Loss,'
                + ' (b.Loss - isnull(a.Loss_xRIP,0)) * @ParticipationNet * @CoinsuranceFactor * ISNULL(c.EffectiveCession, @QS_Cession)'
                + ' FROM #tmpNetYELT a'
                + ' RIGHT JOIN #tmpGRYELT_PostDed b'
                + ' ON a.EventID = b.EventID and a.year = b.yearid and a.day = b.day'
                + ' LEFT JOIN #tmpEventCession c ON c.EventID = b.EventID'
                + ' WHERE b.Loss > 0'
            END
            ELSE
            BEGIN
                SET @query = 'INSERT INTO ' + @tmpOutputTableName + '(EventID, Year, Day, Loss, NetLoss_xRIP)'
                + 'SELECT a.EventID, a.Year, a.Day,'
                + ' a.Loss * @ParticipationNet * @CoinsuranceFactor * ISNULL(c.EffectiveCession, @QS_Cession) as Loss,'
                + ' a.Loss_xRIP * @ParticipationNet * @CoinsuranceFactor * ISNULL(c.EffectiveCession, @QS_Cession)'
                + ' FROM #tmpNetYELT a'
                + ' LEFT JOIN #tmpEventCession c ON c.EventID = a.EventID'
                + ' WHERE a.Loss <> 0'
            END
            IF @DEBUG = 1 PRINT @query
            EXEC sp_executeSQL @query, N'@ParticipationNet FLOAT, @CoinsuranceFactor FLOAT, @QS_Cession FLOAT', @ParticipationNet=@ParticipationNet, @CoinsuranceFactor=@CoinsuranceFactor, @QS_Cession=@QS_Cession
        
        
        IF @DEBUG = 1
        BEGIN
            SET @query = 'INSERT INTO dbo.Debug_tmpGrLoss(ActivityID, ILSTermsID, EventID, Year, Day, Loss, NetLoss_xRIP)'
            + ' SELECT ' + CAST(@ActivityID AS NVARCHAR(20)) + ', ' + CAST(@ILSTermsID AS NVARCHAR(20)) + ', EventID, Year, Day, Loss, NetLoss_xRIP'
            + ' FROM ' + @tmpOutputTableName
            EXEC sp_executeSQL @query
        END
 
        SET @TermsID = @TermsID + 1
    END
 
    IF @DEBUG = 1
    BEGIN
        INSERT INTO dbo.Debug_LayerSummary(
            ActivityID, ILSTermsID, InuringSequenceNumber, ReinsuranceTypeCode, ILSType,
            OccurrenceRetention, OccurrenceLimit, AggregateRetention, AggregateLimit,
            GU_AAL, GR_AAL, PostDed_AAL, Occ_AAL, Agg_NetAAL, ReinstAgg_NetNetAAL, ReinstPrem_AAL,
            Net_AAL, Net_xRIP_AAL, tmpGrLoss_AAL
        )
        SELECT
            t.ActivityID, t.ILSTermsID, t.InuringSequenceNumber, t.ReinsuranceTypeCode, t.ILSType,
            t.OccurrenceRetention, t.OccurrenceLimit, t.AggregateRetention, t.AggregateLimit,
            gu.AAL, gr.AAL, pd.AAL, occ.AAL, agg.AAL, ria.NetNetAAL, ria.PremAAL,
            net.AAL, net.xRIPAAL, tgl.AAL
        FROM dbo.Debug_LayerTerms t
        LEFT JOIN (SELECT ActivityID, ILSTermsID, SUM(Loss)/1e4 AS AAL FROM dbo.Debug_GUYELT GROUP BY ActivityID, ILSTermsID) gu
            ON gu.ActivityID = t.ActivityID AND gu.ILSTermsID = t.ILSTermsID
        LEFT JOIN (SELECT ActivityID, ILSTermsID, SUM(Loss)/1e4 AS AAL FROM dbo.Debug_GRYELT GROUP BY ActivityID, ILSTermsID) gr
            ON gr.ActivityID = t.ActivityID AND gr.ILSTermsID = t.ILSTermsID
        LEFT JOIN (SELECT ActivityID, ILSTermsID, SUM(Loss)/1e4 AS AAL FROM dbo.Debug_GRYELT_PostDed GROUP BY ActivityID, ILSTermsID) pd
            ON pd.ActivityID = t.ActivityID AND pd.ILSTermsID = t.ILSTermsID
        LEFT JOIN (SELECT ActivityID, ILSTermsID, SUM(Loss)/1e4 AS AAL FROM dbo.Debug_OccYELT GROUP BY ActivityID, ILSTermsID) occ
            ON occ.ActivityID = t.ActivityID AND occ.ILSTermsID = t.ILSTermsID
        LEFT JOIN (SELECT ActivityID, ILSTermsID, SUM(NetLoss)/1e4 AS AAL FROM dbo.Debug_AggYLT GROUP BY ActivityID, ILSTermsID) agg
            ON agg.ActivityID = t.ActivityID AND agg.ILSTermsID = t.ILSTermsID
        LEFT JOIN (SELECT ActivityID, ILSTermsID, SUM(NetNetLoss)/1e4 AS NetNetAAL, SUM(ReinstatementPremium)/1e4 AS PremAAL FROM dbo.Debug_ReinstAggYLT GROUP BY ActivityID, ILSTermsID) ria
            ON ria.ActivityID = t.ActivityID AND ria.ILSTermsID = t.ILSTermsID
        LEFT JOIN (SELECT ActivityID, ILSTermsID, SUM(Loss)/1e4 AS AAL, SUM(Loss_xRIP)/1e4 AS xRIPAAL FROM dbo.Debug_NetYELT GROUP BY ActivityID, ILSTermsID) net
            ON net.ActivityID = t.ActivityID AND net.ILSTermsID = t.ILSTermsID
        LEFT JOIN (SELECT ActivityID, ILSTermsID, SUM(Loss)/1e4 AS AAL FROM dbo.Debug_tmpGrLoss GROUP BY ActivityID, ILSTermsID) tgl
            ON tgl.ActivityID = t.ActivityID AND tgl.ILSTermsID = t.ILSTermsID
        WHERE t.ActivityID = @ActivityID
 
        IF @DEBUG = 1 SELECT * FROM dbo.Debug_LayerSummary WHERE ActivityID = @ActivityID ORDER BY InuringSequenceNumber DESC
    END
 
    TRUNCATE TABLE #tmpLossSets
    INSERT INTO #tmpLossSets(LossSetID, LSActivityID, LMF)
    SELECT a.LossSetID, b.ActivityId, a.LMF
    FROM ARAPL_Configuration_v13.dbo.ILSTermsLossSetAssociation a
    INNER JOIN ARAPL_Configuration_v13.dbo.LossSetMetaData b
    on a.LossSetID = b.LossSetID
    where a.ILSTermsID = @ILSTermsID
    and b.isDeleted = 0
    and b.isModeledLoss = 'N'
 
    SET @LSID = 1
    SET @LSMAXID = 0
    SELECT @LSMAXID = MAX(ID) FROM #tmpLossSets
 
    IF @LSMAXID > 0
    BEGIN
        SET @query = 'INSERT INTO #tmpNMYELT(EventID, Year, Day, Loss)'
        + ' SELECT EventID, Year, Day, SUM(Loss) FROM('
        WHILE @LSID <= @LSMAXID
        BEGIN
            SELECT @LSLossSetID = LossSetID, @LSActivityID = LSActivityID, @LSLMF = LMF
            FROM #tmpLossSets WHERE ID = @LSID
            SELECT @LSLossSetID, @LSActivityID, @LSID as NMLS
 
            SET @LSYELTTable = '[ARAPL_Data_v13].[dbo].[YELT_' + CAST(@LSActivityID as nvarchar(100)) + ']'
            SET @query = @query + ' SELECT EventID, YearID as Year, DayID as Day, PreCatLoss * @ParticipationNet *@LSLMF  as Loss FROM ' + @LSYELTTable
            IF @LSID <> @LSMAXID SET @query = @query + ' UNION ALL'
            SET @LSID = @LSID + 1
        END
        SET @query = @query + ')t1'
                    + ' group by EventID, Year, Day'
        IF @DEBUG = 1 PRINT @query
        EXEC sp_executeSQL @query, N'@ParticipationNet FLOAT, @LSLMF FLOAT', @ParticipationNet=@ParticipationNet, @LSLMF=@LSLMF
        SELECT SUM(Loss)/1e4 from #tmpNMYELT
 
        IF @DEBUG = 1
        INSERT INTO dbo.Debug_NMYELT(ActivityID, EventID, Year, Day, Loss)
        SELECT @ActivityID, EventID, Year, Day, Loss FROM #tmpNMYELT
 
        SET @query = 'INSERT INTO #tmpNetYLT(Year, AnnualLoss)
        SELECT YEAR, SUM(Loss) from ' + @tmpOutputTableName + ' group by Year
        INSERT INTO #tmpNMYLT(Year,AnnualLoss)
        SELECT YEAR, SUM(Loss) from #tmpNMYELT group by Year'
        IF @DEBUG = 1 PRINT @query
        EXEC sp_executeSQL @query
        IF @DEBUG = 1 select SUM(AnnualLoss)/1e4  from #tmpNetYLT
        IF @DEBUG = 1 select SUM(AnnualLoss)/1e4 from #tmpNMYLT
 
        INSERT INTO #tmpNETNMYLT(Year, AnnualLoss, NetLoss, NetNMLoss)
        SELECT isnull(a.YEAR, b.Year), isnull(a.AnnualLoss, 0),
        CASE WHEN ISNULL(a.AnnualLoss, 0) + isnull(b.AnnualLoss, 0) > @AggregateLimit THEN @AggregateLimit
        ELSE ISNULL(a.AnnualLoss, 0) + isnull(b.AnnualLoss, 0) END,
        CASE WHEN ISNULL(a.AnnualLoss, 0) + isnull(b.AnnualLoss, 0) > @AggregateLimit THEN @AggregateLimit - ISNULL(b.AnnualLoss, 0) ELSE isnull(a.AnnualLoss, 0) END
        from #tmpNMYLT a
        left join #tmpNetYLT b
        on a.Year = b. Year
 
        IF @DEBUG = 1
        INSERT INTO dbo.Debug_NETNMYLT(ActivityID, Year, AnnualLoss, NetLoss, NetNMLoss)
        SELECT @ActivityID, Year, AnnualLoss, NetLoss, NetNMLoss FROM #tmpNETNMYLT
 
        IF @DEBUG = 1 select SUM(AnnualLosS)/1e4, SUM(NetLoss)/1e4, SUM(NetNMLoss)/1e4 from #tmpNETNMYLT
 
        IF @DEBUG = 1 select SUM(Loss)/1e4 as nmloss from(
        SELECT b.eventid, b.day, a.Year, a.NetNMLoss/a.AnnualLoss * b.Loss as Loss
        FROM #tmpNETNMYLT a
        inner join #tmpNMYELT b
        on a.Year = b.Year
        where a.annualloss <> 0)t1
 
        SET @query = 'INSERT INTO ' + @OutputTableName + '(EventID, Day, Year, Loss, GrossLoss, NetLoss_xRIP)'
        + ' SELECT ISNULL(a.EventID, b.EventID), ISNULL(a.Day, b.Day), ISNULL(a.Year, b.YearID), ISNULL(a.Loss, 0), ISNULL(b.Loss, a.Loss), ISNULL(a.NetLoss_xRIP, 0) from('
        + ' SELECT EventID, Day, Year, Loss, NetLoss_xRIP FROM ' + @tmpOutputTableName + ' a'
        + ' union all SELECT EventID, Day, Year, Loss, Loss FROM'
        + ' (SELECT b.eventid, b.day, a.Year, a.NetNMLoss/a.AnnualLoss * b.Loss as Loss'
        + ' FROM #tmpNETNMYLT a'
        + ' inner join #tmpNMYELT b'
        + ' on a.Year = b.Year'
        + ' where a.annualloss <> 0'
        + '  )t1)a'
        + ' FULL OUTER JOIN #tmpGRYELT b'
        + ' ON a.EventID = b.EventID and a.year = b.yearid and a.day = b.day'
        IF @DEBUG = 1 PRINT @query
        exec sp_executeSQL @query
 
    END
    ELSE
    BEGIN
        SET @query = 'INSERT INTO ' + @OutputTableName + '(EventID, Day, Year, Loss, GrossLoss, NetLoss_xRIP)'
        + ' SELECT ISNULL(a.EventID, b.EventID), ISNULL(a.Day, b.Day), ISNULL(a.Year, b.YearID), ISNULL(a.Loss, 0), ISNULL(b.Loss, a.Loss), ISNULL(a.NetLoss_xRIP, 0)'
        + ' FROM ' + @tmpOutputTableName + ' a'
        + ' FULL OUTER JOIN #tmpGRYELT b'
        + ' ON a.EventID = b.EventID and a.year = b.yearid and a.day = b.day'
        IF @DEBUG = 1 PRINT @Query
        EXEC sp_executeSQL @query
    END
 
    DECLARE @AAL FLOAT
    SET @query = 'SELECT @AAL=SUM(Loss)/1e4 FROM ' + @OutputTableName
    EXEC sp_executeSQL @query, N'@AAL FLOAT OUTPUT', @AAL=@AAL OUTPUT
    IF @DEBUG = 1 SELECT @AAL AAL
    IF @DEBUG = 0
    BEGIN
        SET @Perspective = 'Net Loss'
        exec ARAPL_Configuration_v13.dbo.arapl_populate_ilsresults @ActivityID, @Vendor, @Template, @Perspective, @AddExpenses, @DEBUG=@DEBUG
        SET @Perspective = 'Gross Loss'
        exec ARAPL_Configuration_v13.dbo.arapl_populate_ilsresults @ActivityID, @Vendor, @Template, @Perspective, @AddExpenses, @DEBUG=@DEBUG
        SET @Perspective = 'xRIP Net Loss'
        exec ARAPL_Configuration_v13.dbo.arapl_populate_ilsresults @ActivityID, @Vendor, @Template, @Perspective, @AddExpenses, @DEBUG=@DEBUG
        exec ARAPL_Configuration_v13.dbo.arapl_populate_ILSHistorical @ActivityID
        IF @Vendor <> 'RMS'
        BEGIN
            SELECT
                @InceptionDate = Risk_Period_Inception
                ,@ExpirationDate = Risk_Period_Expiration
            FROM
                ARAPL_Configuration_v13.dbo.ILSData
            WHERE ILSInstrumentID = @ILSInstrumentID
            SET @TODAY = CASE WHEN GETDATE() > @InceptionDate THEN GETDATE() ELSE @InceptionDate END
 
            DROP TABLE IF EXISTS #tmp
            CREATE TABLE #tmp
            (
                riskseasons FLOAT
                ,remainingriskperiod FLOAT
            )
            INSERT INTO #tmp
                (Riskseasons, Remainingriskperiod)
            EXEC ARAPL_Configuration_v13.dbo.arapl_GetRemainingAAL @TODAY, @expirationDate, @ActivityID
            SELECT
                @rs = isnull(riskseasons, 0)
                ,@rrp = remainingriskperiod
            FROM
                #tmp
            UPDATE ARAPL_Configuration_v13.dbo.ILSData
                SET RiskSeasons = @rs, RemainingRiskPeriod = @rrp
            WHERE ILSInstrumentID = @ILSInstrumentID
            IF @DEBUG = 1 PRINT 'Updated Risk Period, Risk Seasons and Remaining risk period to ILSData'
        END
        UPDATE ARAPL_Configuration_v13.dbo.ILSActivityMonitor
        SET JobStatus = 128 WHERE ActivityID = @ActivityID
 
	    EXEC arapl_analysis.dbo.arapl_GenerateAALByMonthTable @ActivityID, @ILSInstrumentID
 
        SET @ILSPricingSummaryTableName = 'ARAPL_Analysis_v13.dbo.[ILSPricingSummary_' + CAST(@ActivityID AS NVARCHAR(255)) + ']'
        SET @Query = 'IF OBJECT_ID(' + @ILSPricingSummaryTableName + ', ''U'') is not null '
        + ' DROP TABLE ' + @ILSPricingSummaryTableName
        EXEC ARAPL_Analysis_v13.dbo.arapl_createILSPricingSummaryTable @ILSPricingSummaryTableName
 
    END
 
    SET @TermsID = 1
    WHILE @TermsID <= @TermsMAXID
    BEGIN
        SELECT @ILSTermsID = ILSTermsID from #tmpTerms where ID = @TermsID
        SET @tmpOutputTableName = 'tmpGrLoss_' + CAST(@ILSTermsID AS NVARCHAR(10))
        SET @query = 'DROP TABLE ' + @tmpOutputTableName
        EXEC sp_executeSQL @query
        SET @TermsID = @TermsID + 1
    END
 
END
 











































