USE [ARAPL_Configuration_V13]
GO
/****** Object:  Table [dbo].[BoundPortfolioDetails]    Script Date: 7/31/2026 1:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoundPortfolioDetails](
	[CipherID] [nvarchar](255) NULL,
	[ILSName] [nvarchar](255) NULL,
	[Issuer] [nvarchar](255) NULL,
	[Hedges] [nvarchar](255) NULL,
	[BoundDate] [datetime] NULL,
	[ExpirationDate] [datetime] NULL,
	[Fronting] [nvarchar](255) NULL,
	[SecurityInstrument] [nvarchar](255) NULL,
	[OccurenceLimit] [float] NULL,
	[AggregateLimit] [float] NULL,
	[Premium100] [decimal](20, 8) NULL,
	[COMPANYOccurenceLimit] [float] NULL,
	[COMPANYAggregateLimit] [float] NULL,
	[CollateralFronted] [float] NULL,
	[BondPrice] [decimal](11, 8) NULL,
	[COMPANYShare] [decimal](11, 8) NULL,
	[Premium] [decimal](20, 8) NULL,
	[InvestedAUM] [decimal](20, 8) NULL,
	[ExpectedLoss] [decimal](20, 8) NULL,
	[StandardDeviation] [decimal](20, 8) NULL,
	[AEP100] [decimal](20, 8) NULL,
	[AEP500] [decimal](20, 8) NULL,
	[ActualAUMPercent] [decimal](20, 8) NULL,
	[SingleRiskGuideline] [float] NULL,
	[GuidelineCheck] [nvarchar](255) NULL,
	[InitialFees] [float] NULL,
	[Expenses] [float] NULL,
	[ExceptionApproval] [nvarchar](255) NULL,
	[portfolioId] [int] NULL,
	[BoundSpread] [float] NULL,
	[AUM] [float] NULL,
	[CUSIP] [nvarchar](255) NULL,
	[CollateralPremium] [float] NULL,
	[CollateralFee] [float] NULL,
	[FrontingFee] [float] NULL,
	[NonModeledAndCOMPANYView] [float] NULL,
	[LossRatio] [decimal](20, 8) NULL,
	[CoTVAR100] [decimal](20, 8) NULL,
	[Return] [decimal](20, 8) NULL,
	[ReturnonCoTVAR100] [decimal](20, 8) NULL,
	[Profit] [decimal](20, 8) NULL,
	[AvgRateChangeProjection] [decimal](11, 8) NULL,
	[TTM] [int] NULL,
	[ROL] [decimal](11, 8) NULL,
	[Fronted] [nvarchar](10) NULL,
	[CoTVAR1000] [decimal](20, 8) NULL,
	[ReportID] [int] NULL,
	[OptimizationLayerID] [nvarchar](255) NULL,
	[Comments] [nvarchar](2048) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CoverageType] [nvarchar](255) NULL,
	[ContractWordingReceivedDate] [datetime] NULL,
	[ContractWordingForwardedtoAONART] [datetime] NULL,
	[AuthorizationDate] [datetime] NULL,
	[ConfirmationNoticeDate] [datetime] NULL,
	[ContractExecutedDate] [datetime] NULL,
	[TreatyType] [nvarchar](255) NULL,
	[ILSInstrumentID] [int] NULL,
	[BondRedemptionPrice] [decimal](11, 8) NULL,
	[BondInitialSpread] [decimal](11, 8) NULL,
	[Series] [nvarchar](255) NULL,
	[Class] [nvarchar](255) NULL,
	[Reset] [nvarchar](255) NULL,
	[LossBasis] [nvarchar](255) NULL,
	[Renewal] [nvarchar](255) NULL,
	[Reinstatements] [int] NULL,
	[CurrencyCode] [char](3) NULL,
	[BondCoupon] [decimal](11, 8) NULL,
	[BondTransactionType] [nvarchar](255) NULL,
	[BondBuyDate] [datetime] NULL,
	[BondSellPrice] [decimal](11, 8) NULL,
	[BondSellDate] [datetime] NULL,
	[QuantityPledged] [float] NULL,
	[Quantity] [float] NULL,
	[RealizedGain] [float] NULL,
	[ActivityID] [int] NULL,
	[NRE_ID] [nvarchar](50) NULL,
	[CurrExchangeFactor] [float] NULL,
	[BreakevenProbability] [decimal](11, 8) NULL,
	[AttachProb] [decimal](11, 8) NULL,
	[ExhaustProb] [decimal](11, 8) NULL
) ON [PRIMARY]
GO
