USE [ARAPL_Configuration_V13]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetActivityRegionPerilAAL_DealAAL]    Script Date: 7/27/2026 1:04:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetActivityRegionPerilAAL_DealAAL]
    @ActivityID       NVARCHAR(20),
    @NumberOfPeriods  INT = 10000,
    @ScaleFactor      FLOAT = 1.0,   -- e.g. 0.5 = scale loss down to 50%, 0.25 = 25% share/cession
    @DEBUG            BIT = 0
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @ActivityYELT           NVARCHAR(255)
    DECLARE @Query                  NVARCHAR(MAX)
    DECLARE @RegionID               INT
    DECLARE @RegionMaxID            INT
    DECLARE @RegionPerilDescription NVARCHAR(255)
    DECLARE @CountryCode            NVARCHAR(MAX)
    DECLARE @PerilCode              NVARCHAR(10)
    DECLARE @RegionCode             NVARCHAR(MAX)
    DECLARE @Operator               NVARCHAR(50)
    DECLARE @RegionAAL              FLOAT
    DECLARE @DealAAL FLOAT

    SET @ActivityYELT = 'ARAPL_ANALYSIS_v13..Analysis_' + @ActivityID

    IF OBJECT_ID(@ActivityYELT) IS NULL
    BEGIN
        RAISERROR('Table %s does not exist for the supplied ActivityID', 16, 1, @ActivityYELT)
        RETURN
    END

    -- ------------------------------------------------------
    -- Get Deal AAL from ILSRESULTS
    -- ------------------------------------------------------
    SELECT @DealAAL = ISNULL(R.AAL,0)
    FROM ILSRESULTS R
    WHERE R.ActivityID = @ActivityID
      AND R.LossType = 'AEP';

    -- ------------------------------------------------------
    -- working tables
    -- ------------------------------------------------------
    IF OBJECT_ID('tempdb..#tmpPortDetailsYELT_Activity') IS NOT NULL DROP TABLE #tmpPortDetailsYELT_Activity
    CREATE TABLE #tmpPortDetailsYELT_Activity
    (
        EventID BIGINT, Year INT, Day INT, Loss FLOAT
    )

    IF OBJECT_ID('tempdb..#PortDetailsYELT_Activity') IS NOT NULL DROP TABLE #PortDetailsYELT_Activity
    CREATE TABLE #PortDetailsYELT_Activity
    (
        EventID BIGINT, Year INT, Day INT, Loss FLOAT,
        Peril INT NULL, Region NVARCHAR(50) NULL, Country NVARCHAR(50) NULL
    )

    IF OBJECT_ID('tempdb..#RegionYELT_Activity') IS NOT NULL DROP TABLE #RegionYELT_Activity
    CREATE TABLE #RegionYELT_Activity
    (
        EventID BIGINT, Year INT, Loss FLOAT
    )

    -- Only need annual agg loss per year to get AAL, so this table is
    -- slimmed down from the original (dropped AggRank/OccLoss/OccRank/AggTVAR,
    -- which only existed to support the AEP/OEP columns we no longer return).
    IF OBJECT_ID('tempdb..#RegionYLT_Activity') IS NOT NULL DROP TABLE #RegionYLT_Activity
    CREATE TABLE #RegionYLT_Activity
    (
        Year INT, AggLoss FLOAT
    )

    IF OBJECT_ID('tempdb..#byRegionPerilPortfolio_Activity') IS NOT NULL DROP TABLE #byRegionPerilPortfolio_Activity
    CREATE TABLE #byRegionPerilPortfolio_Activity
    (
        ActivityID             NVARCHAR(20),
        RegionPerilDescription NVARCHAR(255),
        DealAAL                FLOAT,
        AAL                    FLOAT
    )

    -- ------------------------------------------------------
    -- Step 1: pull activity YELT
    -- ------------------------------------------------------
    SET @Query = 'INSERT INTO #tmpPortDetailsYELT_Activity (EventID, Year, Day, Loss)'
    + ' SELECT EventID, Year, Day, Loss * ' + CAST(@ScaleFactor AS NVARCHAR(50))
    + ' FROM ' + @ActivityYELT

    IF @DEBUG = 1 PRINT @Query
    EXEC sp_executeSQL @Query

    -- ------------------------------------------------------
    -- Step 2: join to industry stoch table for Peril/Region/Country
    -- ------------------------------------------------------
    SET @Query = 'INSERT INTO #PortDetailsYELT_Activity (EventID, Year, Day, Loss, Peril, Region, Country)'
    + ' SELECT a.EventID, a.Year, a.Day, a.Loss, b.PerilID, b.stateCode, b.countryID'
    + ' FROM (SELECT a.EventID, a.Year, a.Day, SUM(a.Loss) as Loss'
    + ' FROM #tmpPortDetailsYELT_Activity a'
    + ' GROUP BY a.EventID, a.Year, a.Day) a'
    + ' INNER JOIN ARAPL_IndustryLoss_v13.dbo.SummaryIndustryLoss_Stoch_Final b on a.EventID = b.EventID'

    IF @DEBUG = 1 PRINT @Query
    EXEC sp_executeSQL @Query

    -- ------------------------------------------------------
    -- Step 3: region/peril AAL loop
    -- ------------------------------------------------------
    SET @RegionID = 1
    SELECT @RegionMaxID = MAX(a.ID) FROM ARAPL_IndustryLoss_v13.dbo.PerilRegion a

    WHILE @RegionID <= @RegionMaxID
    BEGIN
        SET @RegionPerilDescription = NULL
        SET @CountryCode = NULL
        SET @PerilCode = NULL
        SET @RegionCode = NULL

        SELECT @RegionID = pr.ID, @RegionPerilDescription = Region_Description,
               @CountryCode = CountryIDList, @PerilCode = PerilID, @RegionCode = StateCodeList
        FROM ARAPL_IndustryLoss_v13..PerilRegion pr WHERE pr.ID = @RegionID

        SET @Operator = ' IN '
        IF @RegionPerilDescription LIKE 'all%other%'
            SET @Operator = ' NOT IN '

        TRUNCATE TABLE #RegionYELT_Activity

        SET @Query = 'INSERT INTO #RegionYELT_Activity(EventID, Year, Loss)'
        + ' SELECT a.EventID, a.Year, sum(a.Loss)'
        + ' FROM #PortDetailsYELT_Activity a WHERE a.EventID <> 0 '
        + CASE WHEN @PerilCode IS NOT NULL THEN ' AND a.Peril = ' + CAST(@PerilCode AS NVARCHAR(10)) ELSE '' END
        + CASE WHEN @CountryCode IS NOT NULL THEN ' AND a.Country ' + @Operator + '(' + CAST(@CountryCode AS NVARCHAR(MAX)) + ')' ELSE '' END
        + CASE WHEN @RegionCode IS NOT NULL THEN ' AND a.Region ' + @Operator + '(' + CAST(@RegionCode AS NVARCHAR(MAX)) + ')' ELSE '' END
        + ' GROUP BY a.EventID, a.Year'

        IF @DEBUG = 1 PRINT @Query
        EXEC sp_executeSQL @Query

        TRUNCATE TABLE #RegionYLT_Activity

        INSERT INTO #RegionYLT_Activity(Year, AggLoss)
        SELECT Year, SUM(Loss)
        FROM #RegionYELT_Activity
        WHERE Loss <> 0
        GROUP BY Year

        -- *** THE FIX: this was commented out, so @RegionAAL stayed NULL
        --     and every row's AAL came back as 0. ***
        SET @RegionAAL = 0
        SELECT @RegionAAL = SUM(AggLoss) / @NumberOfPeriods FROM #RegionYLT_Activity

        INSERT INTO #byRegionPerilPortfolio_Activity
            (ActivityID, RegionPerilDescription, DealAAL, AAL)
        VALUES(
            @ActivityID,
            ISNULL(@RegionPerilDescription, 0),
            ISNULL(@DealAAL,0),
            ISNULL(@RegionAAL, 0)
        )

        SET @RegionID = @RegionID + 1
    END

    -- ------------------------------------------------------
    -- result set — this is what VBA/ADO reads back
    -- ------------------------------------------------------
    SELECT ActivityID, RegionPerilDescription, DealAAL, AAL
    FROM #byRegionPerilPortfolio_Activity
    ORDER BY AAL DESC
END
GO
